.maintext{
    color: #776bff ;
}

.mainWindow{
    
    height: 150px;
    border: solid; 
    padding: 10px;
    border-style: dotted ;
    border-radius: 3px;
    border-color: #bbb5ff ;
    background-color: #d5d3e8;

}

#TextInput{
    border-style: double;
    border-radius: 4px;
    border-color: #c7c2fc;
    
    width: 90%
}