<!DOCTYPE html>
<html>

<head>
    <title>Прибывалочка</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
    <link href="{{ url_for('static', filename='route.css') }}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body style="background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);">
    <div class="container">
        <h1
        style="text-align: left;padding: 0 0 6px 10px;border-left: 10px solid white; border-bottom: 2px solid white; color: white;">
        {{ route_id }}:</h1>


        <ol class="list-group w-auto">
            {% for stop in route_list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ stop['stop_id'] }}</div>
              </div>
              <span class="badge bg-primary rounded-pill">{{ stop['time'] }}</span>
            </li>
            {% endfor %}
          </ol>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>